# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vscode/*
CMakeLists.txt.*
build/cmake_install.cmake
build/cmake_uninstall.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/etlidar_test
build/FindYDLIDAR_SDK.cmake
build/lidar_c_api_test
build/Makefile
build/tof_test
build/ydlidar_config.h
build/YDLIDAR_SDK.pc
build/ydlidar_sdkConfig.cmake
build/ydlidar_sdkConfigVersion.cmake
build/ydlidar_sdkTargets.cmake
build/ydlidar_test
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.10.2/CMakeSystem.cmake
build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/uninstall.dir/build.make
build/CMakeFiles/uninstall.dir/cmake_clean.cmake
build/CMakeFiles/uninstall.dir/DependInfo.cmake
build/CMakeFiles/uninstall.dir/progress.make
build/CMakeFiles/ydlidar_sdk.dir/build.make
build/CMakeFiles/ydlidar_sdk.dir/C.includecache
build/CMakeFiles/ydlidar_sdk.dir/cmake_clean_target.cmake
build/CMakeFiles/ydlidar_sdk.dir/cmake_clean.cmake
build/CMakeFiles/ydlidar_sdk.dir/CXX.includecache
build/CMakeFiles/ydlidar_sdk.dir/depend.internal
build/CMakeFiles/ydlidar_sdk.dir/depend.make
build/CMakeFiles/ydlidar_sdk.dir/DependInfo.cmake
build/CMakeFiles/ydlidar_sdk.dir/flags.make
build/CMakeFiles/ydlidar_sdk.dir/link.txt
build/CMakeFiles/ydlidar_sdk.dir/progress.make
build/core/cmake_install.cmake
build/core/Makefile
build/core/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/CMakeFiles/progress.marks
build/core/base/cmake_install.cmake
build/core/base/Makefile
build/core/base/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/base/CMakeFiles/progress.marks
build/core/common/cmake_install.cmake
build/core/common/Makefile
build/core/common/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/common/CMakeFiles/progress.marks
build/core/math/cmake_install.cmake
build/core/math/Makefile
build/core/math/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/math/CMakeFiles/progress.marks
build/core/network/cmake_install.cmake
build/core/network/Makefile
build/core/network/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/network/CMakeFiles/progress.marks
build/core/serial/cmake_install.cmake
build/core/serial/Makefile
build/core/serial/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/serial/CMakeFiles/progress.marks
build/core/serial/impl/cmake_install.cmake
build/core/serial/impl/Makefile
build/core/serial/impl/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/serial/impl/CMakeFiles/progress.marks
build/core/serial/impl/unix/cmake_install.cmake
build/core/serial/impl/unix/Makefile
build/core/serial/impl/unix/CMakeFiles/CMakeDirectoryInformation.cmake
build/core/serial/impl/unix/CMakeFiles/progress.marks
build/samples/cmake_install.cmake
build/samples/Makefile
build/samples/CMakeFiles/CMakeDirectoryInformation.cmake
build/samples/CMakeFiles/progress.marks
build/samples/CMakeFiles/etlidar_test.dir/build.make
build/samples/CMakeFiles/etlidar_test.dir/cmake_clean.cmake
build/samples/CMakeFiles/etlidar_test.dir/CXX.includecache
build/samples/CMakeFiles/etlidar_test.dir/depend.internal
build/samples/CMakeFiles/etlidar_test.dir/depend.make
build/samples/CMakeFiles/etlidar_test.dir/DependInfo.cmake
build/samples/CMakeFiles/etlidar_test.dir/flags.make
build/samples/CMakeFiles/etlidar_test.dir/link.txt
build/samples/CMakeFiles/etlidar_test.dir/progress.make
build/samples/CMakeFiles/lidar_c_api_test.dir/build.make
build/samples/CMakeFiles/lidar_c_api_test.dir/C.includecache
build/samples/CMakeFiles/lidar_c_api_test.dir/cmake_clean.cmake
build/samples/CMakeFiles/lidar_c_api_test.dir/depend.internal
build/samples/CMakeFiles/lidar_c_api_test.dir/depend.make
build/samples/CMakeFiles/lidar_c_api_test.dir/DependInfo.cmake
build/samples/CMakeFiles/lidar_c_api_test.dir/flags.make
build/samples/CMakeFiles/lidar_c_api_test.dir/link.txt
build/samples/CMakeFiles/lidar_c_api_test.dir/progress.make
build/samples/CMakeFiles/tof_test.dir/build.make
build/samples/CMakeFiles/tof_test.dir/cmake_clean.cmake
build/samples/CMakeFiles/tof_test.dir/CXX.includecache
build/samples/CMakeFiles/tof_test.dir/depend.internal
build/samples/CMakeFiles/tof_test.dir/depend.make
build/samples/CMakeFiles/tof_test.dir/DependInfo.cmake
build/samples/CMakeFiles/tof_test.dir/flags.make
build/samples/CMakeFiles/tof_test.dir/link.txt
build/samples/CMakeFiles/tof_test.dir/progress.make
build/samples/CMakeFiles/ydlidar_test.dir/build.make
build/samples/CMakeFiles/ydlidar_test.dir/cmake_clean.cmake
build/samples/CMakeFiles/ydlidar_test.dir/CXX.includecache
build/samples/CMakeFiles/ydlidar_test.dir/depend.internal
build/samples/CMakeFiles/ydlidar_test.dir/depend.make
build/samples/CMakeFiles/ydlidar_test.dir/DependInfo.cmake
build/samples/CMakeFiles/ydlidar_test.dir/flags.make
build/samples/CMakeFiles/ydlidar_test.dir/link.txt
build/samples/CMakeFiles/ydlidar_test.dir/progress.make
build/src/cmake_install.cmake
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/filters/cmake_install.cmake
build/src/filters/Makefile
build/src/filters/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/filters/CMakeFiles/progress.marks
YDLidar-SDK.cflags
YDLidar-SDK.config
YDLidar-SDK.creator
YDLidar-SDK.creator.user
.gitignore
YDLidar-SDK.cxxflags
YDLidar-SDK.files
.gitignore
YDLidar-SDK.includes
build/Testing/Temporary/LastTest.log
